{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'pages/styles.css' %}">
  {% block script %}
  {% endblock %}
  <title>Pages</title>
</head>
<body>
  <button data-page="page1">Page 1</button>
  <button data-page="page2">Page 2</button>
  <button data-page="page3">Page 3</button>
  <h1 id="page1">Page 1</h1>
  <h1 id="page2">Page 2</h1>
  <h1 id="page3">Page 3</h1>
</body>
</html>