<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
</head>
<body>
  <header>
    <h1>Home page</h1>
    {% if user.is_authenticated %}
    Logged in as {{ user.username }}
    {% elif message %}
    {{ message }}
    {% else %}
    Not signed in
    {% endif %}
    <nav>
      <ul>
        {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'register' %}">Register</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block body %}
  {% endblock %}
</body>
</html>