{% extends 'manage_users/layout.html' %}
{% block body %}
<form method="post" action="{% url 'register' %}">
  {% csrf_token %}
  <style>
    .input-label {
      display: block;
    }
  </style>
  <label class="input-label">Enter your username: </label>
  <input name="username" type="text">
  <label class="input-label">Enter your email: </label>
  <input type="email" name="email">
  <label class="input-label">Enter your password: </label>
  <input type="password" name="password">
  <input type="submit">
</form>
{% endblock %}