.google-search-bar{
  height: 35px;
  width: 500px;
  font-family: Arial;
  font-size: 15px;
  border-width: 0px;
  margin-left: 10px;
  padding-left: 20px;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}

.google-search-bar:focus{
  outline: none;
}
